//Color variables
$primary-text-color: #000000;
$secondary-text-color: #907E82;
$tertiary-text-color: #FFA5BA;
$hero-text-color: #FFFFFF;
$accent-color: #D41443;
$hero-bgr-color: #FFB8CA;
$footer-bgr-color: #FFF5F6;
$secondary-bgr-color: #F0D1A5;
$tettiary-bgr-color: #C2E297;
$modal-bgr-color: #E17992;

//Fonts variables
$primary-font: DM Sans, sans-serif;
$secondary-font: Titan One, sans-serif;