
    <section class="reviews" id="customer-reviews">
        <div class="reviews__container">

            <div class="reviews__img">                

                <img class="reviews__img--item reviews__img--itemOne" srcset="
                /images/testimonials11.png 1x,
                /images/testimonials11@2x.png 2x"
                src="/images/testimonials11.png" alt="request">
                <img class="reviews__img--item reviews__img--itemTwo" srcset="
                /images/testimonials12.png 1x,
                /images/testimonials12@2x.png 2x"
                src="/images/testimonials12.png" alt="request">
                <img class="reviews__img--item reviews__img--itemThree" srcset="
                /images/testimonials11(1).png 1x,
                /images/testimonials11@2x(1).png 2x"
                src="/images/testimonials11(1).png" alt="request">
            </div>

            <div class="reviews__content">                            

                <div class="reviews__gradient">
                   <!-- <div class="reviews__text"> -->
                        <p class="reviews__text reviews__text--one">Nullam vivera consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                        <!-- <p class="reviews__text reviews__text--two">Nullam vivera consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus. TWO</p>
                        <p class="reviews__text reviews__text--three">Nullam vivera consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus. THrEE</p> -->
                   <!-- </div> -->
                </div>                                
            </div>
            <div class="reviews__wrappers">
                <div class="reviews__wrappers-item"></div>
                <div class="reviews__wrappers-item reviews__wrappers-itemMid"></div>
                <div class="reviews__wrappers-item"></div>
            </div>            
            <h5 class="reviews__name">Emily, Los Angeles</h5>
            <div class="reviews__pagination">
                <a class="reviews__pagination-link reviews__pagination-linkLeft" href="#"></a>                
                <a class="reviews__pagination-link reviews__pagination-linkMid" href="#"></a>                
                <a class="reviews__pagination-link reviews__pagination-linkright" href="#"></a>                
                <div class="reviews__svg">
                <svg class="reviews__svg--ico reviews__svg--icoLeft">
                    <use href="/images/icons.svg#home"></use>
                </svg>
                <svg class="reviews__svg--ico reviews__svg--icoMid">
                    <use href="/images/icons.svg#home"></use>
                </svg>
                <svg class="reviews__svg--ico reviews__svg--icoright">
                    <use href="/images/icons.svg#home"></use>
                </svg>
                </div>
            </div>
        </div>
    </section>
