
    <section class="Reviews">
        <div class="reviews__container">
            <img class="Reviews__img" src="/images/testimonials11.png" alt="">
            <div class="Reviews__content">
                <svg class="Reviews__ico" widht="54" height="40">
                    <use href="/images/icons.svg#quotes"></use>
                </svg>
                <!-- <div class="Reviews__item">''</div> -->
                <div class="reviews__gradient">
                    <p class="Reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                        nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>                                
            </div>
            <div class="reviews__wrappers">
                <div class="reviews__wrappers-item"></div>
                <div class="reviews__wrappers-item reviews__wrappers-itemMid"></div>
                <div class="reviews__wrappers-item"></div>
            </div>            
            <h5 class="Reviews__name">Emily, Los Angeles</h5>
            <div class="reviews__pagination">
                <a class="reviews__pagination-link reviews__pagination-link-active" href="#"></a>
                <a class="reviews__pagination-link reviews__pagination-link-mid" href="#"></a>
                <a class="reviews__pagination-link" href="#"></a>
                <!-- <div class="reviews__ico"></div>
                <div class="reviews__ico reviews__ico-mid"></div>
                <div class="reviews__ico"></div> -->
            </div>
        </div>
    </section>
