
    <section class="Reviews">
        <div class="reviews__container">
            <img class="Reviews__img Reviews__imgOne" src="/images/testimonials11.png" alt="request">
            <img class="Reviews__img Reviews__imgTwo" src="/images/testimonials12.png" alt="request">
            <img class="Reviews__img Reviews__imgThree" src="/images/testimonials11(1).png" alt="request">
            <div class="Reviews__content">
                <svg class="Reviews__ico" widht="54" height="40">
                    <use href="/images/icons.svg#quotes"></use>
                </svg>                
                <div class="reviews__gradient">
                    <p class="Reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                        nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>                                
            </div>
            <div class="reviews__wrappers">
                <div class="reviews__wrappers-item"></div>
                <div class="reviews__wrappers-item reviews__wrappers-itemMid"></div>
                <div class="reviews__wrappers-item"></div>
            </div>            
            <h5 class="Reviews__name">Emily, Los Angeles</h5>
            <div class="reviews__pagination">
                <a class="reviews__pagination-link reviews__pagination-linkLeft" href="#"></a>                
                <a class="reviews__pagination-link reviews__pagination-linkMid" href="#"></a>                
                <a class="reviews__pagination-link reviews__pagination-linkRight" href="#"></a>                
                <div class="Reviews__svg">
                <svg class="Reviews__svg--ico Reviews__svg--icoLeft">
                    <use href="/images/icons.svg#home"></use>
                </svg>
                <svg class="Reviews__svg--ico Reviews__svg--icoMid">
                    <use href="/images/icons.svg#home"></use>
                </svg>
                <svg class="Reviews__svg--ico Reviews__svg--icoRight">
                    <use href="/images/icons.svg#home"></use>
                </svg>
                </div>
            </div>
        </div>
    </section>
