<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="hero__header__container">
        <header class="header">
            <div class="header__contain">
                <a class="header__link" href="">
                    <img class="logo" src="/images/logo1.png" alt="logo">
                </a>
                <button class="button__open">
                    <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H20" stroke="#D41443" />
                        <path d="M0 7H20" stroke="#D41443" />
                        <path d="M0 13H20" stroke="#D41443" />
                    </svg>
                </button>
            </div>
            <div class="hero">
                <h1 class="hero__title">ice cream made with
                    <span class="hero__title--accent">passion</span>
                </h1>
                <div class="button__contain">
                    <button class="button__products">Products</button>
                    <button class="button__made">How it’s made?</button>
                </div>
            </div>
            <div class="bio__eco">
                <img class="bio__eco--image" src="/images/Dslider-pic51.png" alt="bio__eco">
                <p class="bio__eco__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <img class="bio__eco--icon" src="/images/Marrow-right4.png" alt="arrow-right">
            </div>
            <div class="slider__bgc">
                <picture>
                    <source srcset="/images/Dslider-pic71.png 236w, /images/Dslider-pic71@2x.png 472w"
                        media="(min-width: 1200px)" sizes="(min-width: 1200px) 236px, 100vw">
                    <source srcset="/images/Tslider-pic7 1.png 143w, /images/Tslider-pic7 1@2x.png 670w"
                        media="(min-width: 1200px)" sizes="(min-width: 1200px) 335px, 100vw">
                    <img class="slider" src="/images/Mslider-pic71.png" alt="slider">
                </picture>
            </div>
            <button class="buy__now button__in__tablet">
                <div class="buy__now--contain--tablet">
                    <span class="buy__now--content--tablet">Buy now</span>
                    <svg class="buy__now__icon--tablet" width="8" height="10" viewBox="0 0 8 10" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.10693 1L6.3648 5L1.10693 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </button>
            <div class="goods">
                <ul class="goods__list">
                    <li class="goods__item">
                        <span class="among">16</span>
                        <span class="goods__name">cafes</span>

                    </li>
                    <li class="goods__item">
                        <span class="among">23</span>
                        <span class="goods__name">food trucks</span>

                    </li>
                </ul>
            </div>
            <div class="back__style back__style-first"></div>
            <div class="back__style back__style-second"></div>
            <div class="example__eat__ice-cream">
                <img class="eat__ice-cream" src="/images/Tslider-pic41.png" alt="">
            </div>
        </header>

        <div class="modal">
            <svg class="button__close" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1.25928 1L14.7408 15" stroke="white" />
                <path d="M1 14.7407L15 1.25924" stroke="white" />
            </svg>
            <button class="buy__now">
                <div class="buy__now--contain">
                    <span class="buy__now--content">Buy now</span>
                    <svg class="buy__now__icon" width="8" height="10" viewBox="0 0 8 10" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.10693 1L6.3648 5L1.10693 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </button>

            <ul class="modal__list">
                <li class="modal__item">
                    <a href="" class="modal__link modal__link--current">Home
                    </a>
                </li>
                <li class="modal__item">
                    <a href="" class="modal__link">About us</a>
                </li>
                <li class="modal__item">
                    <a href="" class="modal__link">How it’s made?</a>
                </li>
                <li class="modal__item">
                    <a href="" class="modal__link">Our products</a>
                </li>
                <li class="modal__item">
                    <a href="" class="modal__link">Contact</a>
                </li>

            </ul>
        </div>
    </div>
    <script>
        const openModalOpen = document.querySelector('.button__open');
        openModalOpen.addEventListener('click', isOpenModal);
        const modalEL = document.querySelector('.modal');
        function isOpenModal() {
            modalEL.classList.add('is-open')
        }
        const closeModalOpen = document.querySelector('.button__close');
        closeModalOpen.addEventListener('click', isCloseModal);
        function isCloseModal() {
            modalEL.classList.remove('is-open')
        }
    </script>
</body>

</html>