.about {
  background-color: $footer-bgr-color;
}
@media screen and (min-width: 320px) {
  .about_container {
    max-width: 320px;
    padding-top: 288px;
  }
  .about_title--accent {
    margin-top: 15px;
  }
  .about_text-wrapper {
    max-width: 220px;
  }
  .about_title {
    font-size: 18px;
    line-height: 1.15;
  }
  .about_img2--mobile {
    width: 320px;
  }
  .about_text--black {
    font-size: 12px;
    line-height: 1.58;
    margin-bottom: 33px;
  }
  .about_text--gray {
    font-size: 12px;
    line-height: 1.58;
  }
  .about_button {
    margin-top: 17px;
  }
}
@media screen and (max-width: 767px) {
  .about_title--accent {
    font-size: 34px;
  }
  .about_text-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
  .about_img1--tablet {
    display: none;
  }
  .about_img2--tablet {
    display: none;
  }
  .about_img1--desktop {
    display: none;
  }
  .about_img2--desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about_container {
    padding-top: 130px;
    max-width: 768px;
  }
  .about_title {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-bottom: 56px;
  }
  .about_title--accent {
    font-size: 48px;
    margin-top: 16px;
    letter-spacing: 0.04em;
  }
  .about_container {
    max-width: 768px;
  }
  .about_content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .about_text-wrapper {
    max-width: 340px;
    margin-left: 20px;
    margin-top: 44px;
  }
  .about_img2--mobile {
    display: none;
  }
  .about_img1--mobile {
    display: none;
  }
  .about_img1--tablet {
    max-width: 340px;
  }
  .about_img2--tablet {
    display: none;
  }
  .about_text--black {
    font-size: 14px;
    line-height: 1.79;
    margin-bottom: 26px;
  }
  .about_text--gray {
    font-size: 14px;
    line-height: 1.79;
    letter-spacing: 0.04em;
  }
  .about_text--gray2 {
    margin-top: 10px;
  }
  .about_button {
    margin-top: 62px;
  }
}
@media screen and (max-width: 1199px) {
  .about_img1--desktop {
    display: none;
  }
  .about_img2--desktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about_container {
    padding-top: 125px;
    max-width: 1200px;
    z-index: 1;
  }
  .about_title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
  .about_title--accent {
    font-size: 58px;
    margin-top: 16px;
    line-height: 1.18;
    letter-spacing: 0.06em;
  }
  .about_text-wrapper {
    max-width: 463px;
    margin-top: 51px;
    margin-left: 74px;
  }
  .about_text--black {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
  }
  .about_text--gray {
    font-size: 14px;
    line-height: 1.93;
    letter-spacing: 0.04em;
  }
  .about_text--gray2 {
    margin-top: 35px;
  }
  .about_img2--mobile {
    display: none;
  }
  .about_img1--mobile {
    display: none;
  }
  .about_img1--tablet {
    display: none;
  }
  .about_img1--desktop {
    min-width: 516px;
  }
  .about_img2--desktop {
    max-width: 1280px;
    z-index: -1;
  }
  .about_button {
    margin-top: 45px;
  }
}
.about_container {
  position: relative;
  text-align: center;
  @extend %contain-padding;
  @extend %auto-margin;
}
.about_title {
  font-family: $secondary-font;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $tertiary-text-color;
}
.about_title--accent {
  display: inline-block;
  color: $accent-color;
}
.about_img1--mobile {
  margin-bottom: 46px;
}
.about_text-wrapper {
  text-align: left;
}
.about_text--black {
  @extend %list;
  font-weight: 500;
  color: $primary-text-color;
}
.about_text--gray {
  @extend %list;
  font-weight: 500;
  color: $secondary-text-color;
}
.about_img2--mobile {
  position: absolute;
  left: 0;
  bottom: 61px;
  @extend %auto-margin;
}
.about_img2--desktop {
  position: absolute;
  left: 0;
  bottom: -9.5%;
  @extend %auto-margin;
}
.about_input {
  appearance: none;
}
.about_input:checked + p {
  display: block;
}
.about_button {
  display: inline-block;
  width: 176px;
  height: 44px;
  margin-left: -5px;
  background: $hero-text-color;
  border-radius: 22px;
  border: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: $accent-color;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.about_modalText {
  display: none;
}
