.contacts {
  background-color: $footer-bgr-color;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 113px;
  @media screen and (min-width: 768px) {
    & {
      padding-bottom: 165px;
    }
  }
}
@media screen and (min-width: 768px) {
  .contacts__cards-container {
    display: flex;
    margin: -15px;
  }
}

.contacts__card {
  padding: 43px 20px;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-weight: 500;
  font-size: 12px;
  transform: translateY(-84px);
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    & {
      padding: 50px 31px;
      margin: 15px;
      transform: translateY(-78px);
      font-size: 14px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      padding: 51px 43px 61px 43px;
      transform: translateY(-102px);
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 767px) {
  .contacts__card + .contacts__card {
    margin-top: 20px;
  }
}
.contacts__address {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.contacts__place {
  display: inline-block;
  margin-bottom: 25px;

  color: #ffffff;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 0 24px;
  background-color: $secondary-bgr-color;
  border-radius: 4px;
  &--green {
    background-color: $tettiary-bgr-color;
  }
  @media screen and (min-width: 768px) {
    & {
      font-size: 16px;
    }
  }
}
.contacts__city {
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}
.contacts__info {
  color: $secondary-text-color;
  line-height: 150%;
}
.contacts__working-hours {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
  line-height: 186%;
}

.contacts__time {
  color: $tertiary-text-color;
}
.contacts__links {
  padding-top: 25px;
  line-height: 150%;
}
.contacts__links a {
  display: block;
  text-decoration: none;
  color: $secondary-text-color;
}
.contacts__buttons-container {
  margin-top: -54px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      justify-content: center;

      margin-top: 3px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      margin-top: -16px;
    }
  }
}
.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: transparent;
  background-color: $accent-color;
  color: $hero-text-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.contacts__button--reverse {
  background-color: $hero-text-color;
  color: $accent-color;
  @media screen and (max-width: 767px) {
    & {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      margin-left: 15px;
    }
  }
}
.contacts__button-icon {
  margin-left: 13px;
}
